<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmpe277.teamgoat.photoapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".PhotoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >

        <!-- Put this here to activate the search on all activities -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FACEBOOK Requirements -->
        <!-- Required for Facebook login -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Required for sharing links, images, or videos via Facebook/Android app -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1599780603601030"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />

        <!-- <activity -->
        <!-- android:name=".LayoutTest" -->
        <!-- android:label="User Profile" > -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".EditAlbumFragment" -->
        <!-- android:label="Edit or Create an Album" > -->
        <!-- </activity> -->

        <activity
            android:name=".AlbumViewerActivity"
            android:label="Album" >
        </activity>
        <activity
            android:name=".PhotoAlbums"
            android:label="PhotoAlbums" >
        </activity>
        <activity
            android:name=".ImageUploadActivity"
            android:label="ImageUploadActivity" >
        </activity>
        <!--<activity-->
            <!--android:name=".SingleImageViewActivity"-->
            <!--android:label="@string/title_activity_single_image_view"-->
            <!--android:windowSoftInputMode="adjustPan" >-->
        <!--</activity>-->

        <!-- <activity -->
        <!-- android:name=".TestFragmentActivity" -->
        <!-- android:label="test album create" > -->
        <!-- </activity> -->

        <activity
            android:name=".ImageTabActivity"
            android:label="@string/image_tab_view_title"
            android:parentActivityName=".AlbumViewerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.cmpe277.teamgoat.photoapp.AlbumViewerActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ImageSearchActivity"
            android:label="@string/title_activity_image_search" >
        </activity>

        <!-- gmc -->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
    </application>

</manifest>
